<div class="banner">
    <div class="banner-top">
        <h3 class="banner-top-title">{{section.settings.banner_top_title}}</h3>
        <p class="banner-top-text">{{ section.settings.banner_top_subtitle }}</p>
        {% if section.settings.button_content != blank %}
            <a href="{{ section.settings.button_link }}">{{section.settings.button_content}}&#8594;</a>
        {% endif %}
    </div>

    <div class="banner-body">

        <div class="banner-body-top" 
            style="background: url('{{ 'background_img_01.png' | asset_url }}');">
        </div>

        <div class="banner-body-bottom">

            <div class="banner-body-bottom-left">
                <h1 class="banner-body-title">{{ section.settings.banner_body_title }}</h1>
                <p class="banner-body-description">{{ section.settings.banner_body_description }}</p>
                {% if section.settings.banner_body_button_content != blank %}
                    <a href="{{ section.settings.banner_body_button_link }}" class="banner-body-btn">
                        {{section.settings.banner_body_button_content  }}
                        &xrarr;
                    </a>
                {% endif %}
            </div>

            <div class="banner-body-bottom-right" 
                 style="background: url('{{ 'background_img_2.png' | asset_url }}');">
            </div>

        </div>
    </div>

    <div class="banner-footer">
        <p class="footer-text">{{ section.settings.footer_text }}</p>
    </div>

</div>

 {% stylesheet %}
/**********DESKTOP**************/
 .banner{
    background: #fff; /*temporary*/
    width: 100%;
    font-family: inherit, 'Courier New', Courier, monospace;
    height: 90vh;
 }

 .banner-top{
    background: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1.2;
    position: relative;
 }

 .banner-top-title{
    font-weight: 600;
    font-size: 14px;
    color: black;
    margin-left: 10%;
 }

 .banner-top-text{
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    color: black;
 }

.banner-top a {
    background: #FFF544;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 0;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    text-transform: uppercase;
    margin-right: 10%;
}

/*========= Banner Body ==============*/

.banner-body {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
}
.banner-body-top {
    height: 50%;
    width: 100%;
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: center center;
}

.banner-body-bottom{
    display: flex;
    height: 50%;
}
.banner-body-bottom-left{
    width: 45%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.banner-body-bottom-right{
    width: 55%;
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: center center;
}

.banner-body-title{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 4px;
}

.banner-body-description{
    font-size: 16px;
    font-weight: 400;
    padding: 16px 8px;
    color: #000;
    line-height: 140%;
}

.banner-body-btn {
    display: flex;              
    align-items: center;        
    justify-content: center;   
    gap: 10px;                  
    background: #000;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    width: 30%;
    box-sizing: border-box;
    position: relative;
}

.banner-body-btn .icon-arrow {
    width: 16px;
    height: 16px;
    flex-shrink: 0; 
}


.banner-body-btn:hover{
    background: #FFF544;
    color: #000;
}

.banner-footer{
    background: #F5F5F5;
    text-align: center;
}

.footer-text {
    font-weight: 400 ;
    color: #000;
    letter-spacing: 0;
}

/********TABLET********/
@media (max-width : 1024px){
    .banner{
    height: auto;
}

.banner-body{
    height: 400px;
}
.banner-body-top{
    height: 200px;
}

.banner-body-bottom-left
.banner-body-bottom-right{
    width: 100%;
    padding: 0 5%;
}
.banner-body-title{
    font-size: 24px;
}
.banner-body-description{
    font-size: 13px;
    padding: 0 8px;
    margin-top: 0;
}
.banner-body-btn{
    width: 40%;
    font-size: 14px;    
}
.banner-footer{
    padding: .125% 3%;
}
.footer-text{
    font-size: 11px;
}
}

/************ MOBILE ***********/




 {% endstylesheet %}


{% schema %}
    {
        "name": "banner",
        "tag": "section",
        "settings": [
            {
                "type": "text",
                "id": "banner_top_title",
                "label": "Title",
                "default": "TISSO VISON"
            }, 
            {
                "type": "text",
                "id": "banner_top_subtitle",
                "label": "Subtitle",
                "default": "Find the ideal gift for your loved ones."
            },
            {
                "type": "text",
                "id": "button_content",
                "label": "Button Content",
                "default": "CHOOSE GIFT"
            },
            {
                "type": "url",
                "id": "button_link",
                "label": "Button Link"
            },
            {
                "type": "text",
                "id": "banner_body_title",
                "label": "Banner Body Title",
                "default": "The Gift Guide"
            },
            {
                "type": "text",
                "id": "banner_body_description",
                "label": "Banner Body Description",
                "default": "Discover Joy : Your Ultimate Holiday Gift Destination.\nExplore our curated selection and find the perfect gift to \ndelight your loved ones this holiday season."
            },
            {
                "type": "text",
                "id": "banner_body_button_content",
                "label": "Banner Body Button Content",
                "default": "Shop now"
            },

            {   
                "type": "url",
                "id": "banner_body_button_link",
                "label": "Banner Body Button",
            },
            {
                "type": "text",
                "id": "footer_text",
                "label": "Footer text",
                "default": "SUSTAINABLE, ETHICALLY MADE CLOTHES IN SIZES XXS TO 6XL"
            }

        ],
        "presets": [
            {
                "name": "Banner"
            }
        ]
    }


{% endschema %}