      <div class="product-modal" hidden>
        <div class="product-modal-content">
            <button class="modal-close">x</button>

              <div class="modal-layout-top">
                <div class="modal-image">
                  <img width="" height=""/>
                </div>
                <div class="modal-info">
                  <h2 class="modal-title"></h2>
                  <h3 class="modal-price"></h3>
                  <p class="modal-description"></p>
                </div>
              </div>
              <div class="modal-colors">
                <label class= "color-label">Colors</label>
                <div class="color-items"></div>
              </div>

              <div class="modal-size">
                <label>Size</label>  
                <select class="modal-size-options">
                  <option value="">Size</option>
                </select>
              </div>

              <div class="add-to-cart">
                <form action="{{ routes.cart_add_url }}" method="post" class="add-to-cart-form">
                  <input type="hidden" name="id" class="product-variant-id"
                  value="{{ product.selected_or_first_available_variant.id }}">
                  <button type="submit" class="btn add-to-cart">
                    {{ 'products.product.add_to_cart' | t }}&#8594;
                  </button>
                </form>
              </div>
            </div>            
        </div>

<div class="grid">    
    <div class="product-grid">
    {% for i in (1..6) %}
        {% assign product_key = 'product_' | append: i %}
        {% assign product_item = section.settings[product_key] %}

        {% if product_item != blank %}
        {% if product_item.handle != blank %}
            {% assign product = product_item %}
        {% else %}
            {% assign product = all_products[product_item] %}
        {% endif %}

        {% if product %}
            <div class="product-card">
              <div class="image-wrapper">
                <img
                    src="{{ product.featured_image | image_url: width: 500 }}"
                    alt="{{ product.title }}"
                    width="{{ product.featured_image.width }}"
                    height="{{ product.featured_image.height }}"
                    loading="lazy"
                >
                  {% if product.metafields.custom.position_x and product.metafields.custom.position_y %}
                    {% assign position_x = product.metafields.custom.position_x %}
                    {%  assign position_y = product.metafields.custom.position_y %}
                    <button
                      class="product-details-btn"
                      style="left: {{ position_x }}%; top: {{ position_y }}%"
                      data-title = "{{ product.title }}"
                      data-price = "{{ product.price | money_without_currency }}"
                      data-description = "{{ product.description }}"
                      data-image = "{{ product.featured_image | image_url : width: 600}}"
                      data-colors = "{{ product.options_by_name['Color'].values | join: ',' }}"
                      data-sizes = "{{ product.options_by_name['Size']. values | join: ','}}"
                      data-variant-id="{{ product.selected_or_first_available_variant.id }}"
                    >
                      +
                    </button>  
                  {% endif %}
                </div>
            </div>
        {% endif %}
        {% endif %}
    {% endfor %}
    </div>
</div>

<script>
  document.addEventListener('click', (e)=> {
    const button = e.target.closest('.product-details-btn');
    if(!button) return;

    const modal = document.querySelector('.product-modal');
    const price = modal.querySelector('.modal-price');
    const title = modal.querySelector('.modal-title');
    const description = modal.querySelector('.modal-description');
    const image = modal.querySelector('img');
    const colors = modal.querySelector('.color-items');
    const sizes = modal.querySelector('.modal-size-options');
    const variantInput = modal.querySelector('.product-variant-id');
    variantInput.value = button.dataset.variantId || button.dataset.firstVariantId;

    price.textContent = button.dataset.price;
    title.textContent = button.dataset.title;
    description.innerHTML = button.dataset.description;

    image.src = button.dataset.image;
    image.alt = button.dataset.title;

    colors.innerHTML = '';
    if(button.dataset.colors){
      button.dataset.colors.split(',').forEach(color => {
        const div = document.createElement('div');
        div.className = 'color-item';
        div.innerHTML = `
          <span class = "color-band" style="background:${color.toLowerCase()}"></span>
          <span class= "color-name">${color}</span>
        `;
        colors.appendChild(div);
      });
    }

    colors.addEventListener('click', (e)=>{
      const item = e.target.closest('.color-item');
      if (!item) return;
      colors.querySelectorAll('.color-item').forEach(c=> c.classList.remove('active'));
      item.classList.add('active');
    });

    sizes.innerHTML = '';
    if(button.dataset.sizes){
      const defaultOption = document.createElement('option');
      defaultOption.value = '';
      defaultOption.textContent = 'Choose your size';
      defaultOption.selected = true;
      defaultOption.disabled = true;
      sizes.appendChild(defaultOption);

      button.dataset.sizes.split(',').forEach(size =>{
        const option = document.createElement('option');
        option.value = size;
        option.textContent = size;
        sizes.appendChild(option);
      });
    }
    modal.hidden = false;
  
  });

  document.addEventListener('click', (e)=>{
    if (e.target.matches('.modal-close')){
      document.querySelector('.product-modal').hidden = true;
    }
  });
</script>


 {% stylesheet %}
    .grid{
        display: flex;
        justify-content: center;
        background: #fff;
        gap: 42.48px;
        width: 100%;
        padding: 8px 16px;
        align-items: center;
    }
    .product-grid{
        display: grid;
        margin-top: 10%;
        grid-template-columns: repeat(3, 1fr);
        width: 80%;
    }
    .product-card{
        margin: 0;
        padding: 8px;
        border: none;
        background-color: #fff;
    }

    .image-wrapper{
      position: relative;
    }

    .image-wrapper img {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
        min-height: 250px;
    }

    .product-details-btn{
      display: flex;
      position: absolute;
      transform: rotate(45);
      width: 1em;
      height: 1em;
      padding: 0;
      border-radius: 50%;
      background-color: #fff;
      color: #000;
      border: none;
      font-size: 12px;
      cursor: pointer;
      align-items: center;
      justify-content: center;
    }

    .product-detals-btn:hover{
      transition:ease 0.3s  ;
    }
    .product-modal{
      background: rgba(0, 0, 0, 0.45);
      inset: 0;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      z-index: 9999;
      padding: 1%;
    }

    .product-modal[hidden]{
      display: none;
    }

    .product-modal-content{
      background: #fff;
      width: 420px;
      max-width: 90vw;
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 16px;
    }
    .modal-close{
      position: absolute;
      top: 1%;
      right: 1%;
      background: none;
      border: none;
      font-size: 12px;
      cursor: pointer;
    }

    .modal-layout{
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .modal-layout-top{
      display: flex;
      flex-direction: row;
      width: 100%;
    }

    .modal-image{
      width: 40%;
      height: auto;
      overflow: hidden;
      flex-shrink: 0;
    }

    .modal-image img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    .modal-info{
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
      margin-left: 2%;
    }

    .modal-title{
      font-family: 'Jost', 'Courier New', Courier, monospace;
      font-weight: 300;
      font-style: light;
      font-size: 1.5rem;
      margin: 0;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    .modal-price{
      font-family: 'Lustria', 'Courier New', Courier, monospace;
      font-size: 2rem;
      font-weight: 400;
      word-wrap: break-word;
      overflow-wrap: break-word;
      margin: 0;
      letter-spacing: 0;
      margin-top: 5%;
      margin-bottom: 0;
    }
    .modal-description{
      font-weight: 200;
      word-wrap: break-word;
      overflow-wrap: break-word;
      letter-spacing: 0;
      bottom: 0;
    }
    .modal-colors{
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    .modal-colors label{
      font-size: 14px;
      color: #000;
    }

    .color-items{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .color-item{
      border: 1px solid #000;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 1em;
      background: #fff;
    }

    .color-item.active{
      background: #000;
      color: #fff;
    }

    .color-band{
      width: 5%;
      height: 100%;
      border: none;
      flex-shrink: 0;
      border-right: 1px solid #000;
      border-left: none;
    }

    .modal-size{
      margin-top: 2%;

    }
    .modal-size label{
      display: block;
      margin-bottom: 0;
      padding: 0;
      font-weight: 400;
      color: #000;
      font-size: 16px;
    }
    .modal-size-options{
      width: 100%;
      padding: 12px;
      border: 1px solid #000;
      font-size: 1rem;
      cursor: pointer;
    }

    .add-to-cart{
      background: #000;
      color: #fff;
      border: none;
      width: 100%;
      padding: 12px;
      font-size: 1rem;
      font-weight: 400;
      cursor: pointer;
      text-transform: uppercase;
      letter-spacing: 0;
      position: relative;
      margin-top: auto;
      margin-bottom: 0;
      box-sizing: border-box;
    }
    
 {% endstylesheet %}


{% schema %}
    {
        "name": "product-grid",
        "tag": "section",
        "settings": [
            {"type": "product", "id": "product_1", "label": "Product 1"},
            {"type": "product", "id": "product_2", "label": "Product 2"},
            {"type": "product", "id": "product_3", "label": "Product 3"},
            {"type": "product", "id": "product_4", "label": "Product 4"},
            {"type": "product", "id": "product_5", "label": "Product 5"},
            {"type": "product", "id": "product_6", "label": "Product 6"},

        ], 
        "presets": [
            {
                "name": "Grid"
            }

        ]
    }
{% endschema %}